sonarr:
  server:
    address: sonarr
    port: 8989
  config:
    host:
      analyticsEnabled: false
    ui:
      firstDayOfWeek: 1 # 0 = Sunday, 1 = Monday
      timeFormat: HH:mm # HH:mm = 17:30, h(:mm)a = 5:30PM
    naming:
      renameEpisodes: true
      replaceIllegalCharacters: true
      multiEpisodeStyle: 5
      # https://trash-guides.info/Sonarr/Sonarr-recommended-naming-scheme/
      standardEpisodeFormat: "{Series TitleYear} - S{season:00}E{episode:00} - {Episode
        CleanTitle} [{Preferred Words }{Quality Full}]{[MediaInfo VideoDynamicRangeType]}{[Mediainfo
        AudioCodec}{ Mediainfo AudioChannels]}{MediaInfo AudioLanguages}{[MediaInfo VideoCodec]}{-Release
        Group}"
      dailyEpisodeFormat: "{Series TitleYear} - {Air-Date} - {Episode CleanTitle} [{Preferred
        Words }{Quality Full}]{[MediaInfo VideoDynamicRangeType]}{[Mediainfo AudioCodec}{
        Mediainfo AudioChannels]}{MediaInfo AudioLanguages}{[MediaInfo VideoCodec]}{-Release
        Group}"
      animeEpisodeFormat: "{Series TitleYear} - S{season:00}E{episode:00} - {absolute:000}
        - {Episode CleanTitle} [{Preferred Words }{Quality Full}]{[MediaInfo VideoDynamicRangeType]}[{MediaInfo
        VideoBitDepth}bit]{[MediaInfo VideoCodec]}[{Mediainfo AudioCodec} { Mediainfo AudioChannels}]{MediaInfo
        AudioLanguages}{-Release Group}"
      seriesFolderFormat: "{Series TitleYear} [imdb-{ImdbId}]"
      seasonFolderFormat: Season {season:00}
      specialsFolderFormat: Specials
      includeSeriesTitle: false
      includeEpisodeTitle: false
      includeQuality: false
      replaceSpaces: true
      separator: " - "
      numberStyle: S{season:00}E{episode:00}
    mediamanagement:
      autoUnmonitorPreviouslyDownloadedEpisodes: false
      recycleBin: ''
      recycleBinCleanupDays: 7
      downloadPropersAndRepacks: doNotUpgrade
      createEmptySeriesFolders: false
      deleteEmptyFolders: false
      fileDate: none
      rescanAfterRefresh: always
      setPermissionsLinux: false
      chmodFolder: '755'
      chownGroup: ''
      episodeTitleRequired: always
      skipFreeSpaceCheckWhenImporting: true
      minimumFreeSpaceWhenImporting: 100
      copyUsingHardlinks: true
      importExtraFiles: true
      extraFileExtensions: srt
      enableMediaInfo: true
  rootfolder:
    - name: Series
      path: /data/series
      defaultTags: []
      defaultQualityProfileId: 1
      defaultMetadataProfileId: 1
  downloadclient:
    - name: Transmission
      enable: true
      protocol: torrent
      priority: 1
      fields:
        - name: host
          value: transmission
        - name: port
          value: 9091
      implementation: Transmission
      configContract: TransmissionSettings
    - name: qBittorrent
      enable: true
      protocol: torrent
      priority: 2
      removeCompletedDownloads: true
      removeFailedDownloads: true
      fields:
      - name: host
        value: qbittorrent
      - name: port
        value: 8080
      - name: username
        value: username
      - name: password
        value: password
      - name: tvCategory
        value: tv
      - name: recentTvPriority
        value: 0
      - name: olderTvPriority
        value: 0
      - name: initialState
        value: 0
      - name: sequentialOrder
        value: false
      - name: firstAndLast
        value: false
      implementation: QBittorrent
      configContract: QBittorrentSettings
radarr:
  server:
    address: radarr
    port: 7878
  config:
    host:
      analyticsEnabled: false
    ui:
      firstDayOfWeek: 1 # 0 = Sunday, 1 = Monday
      timeFormat: HH:mm # HH:mm = 17:30, h(:mm)a = 5:30PM
      uiLanguage: 2 # 1 = English, 2 = French, 3 = Spanish...
    naming:
      renameMovies: true
      replaceIllegalCharacters: true
      colonReplacementFormat: spaceDashSpace
      # https://trash-guides.info/Radarr/Radarr-recommended-naming-scheme/
      standardMovieFormat: "{Movie CleanTitle} {(Release Year)} {imdb-{ImdbId}} {edition-{Edition Tags}} {[Custom Formats]}{[Quality Full]}{[MediaInfo 3D]}{[MediaInfo VideoDynamicRangeType]}{[Mediainfo AudioCodec}{ Mediainfo AudioChannels}][{Mediainfo VideoCodec}]{-Release Group}"
      movieFolderFormat: "{Movie CleanTitle} ({Release Year})"
      includeQuality: false
      replaceSpaces: false
    mediamanagement:
      autoUnmonitorPreviouslyDownloadedMovies: true
      recycleBin: ''
      recycleBinCleanupDays: 7
      downloadPropersAndRepacks: doNotUpgrade
      createEmptyMovieFolders: false
      deleteEmptyFolders: false
      fileDate: none
      rescanAfterRefresh: always
      autoRenameFolders: false
      pathsDefaultStatic: false
      setPermissionsLinux: false
      chmodFolder: '755'
      chownGroup: ''
      skipFreeSpaceCheckWhenImporting: true
      minimumFreeSpaceWhenImporting: 100
      copyUsingHardlinks: true
      importExtraFiles: true
      extraFileExtensions: srt
      enableMediaInfo: true
  rootfolder:
    - name: Movies
      path: /data/movies
      defaultTags: []
      defaultQualityProfileId: 1
      defaultMetadataProfileId: 1
  downloadclient:
    - name: Transmission
      enable: true
      protocol: torrent
      priority: 1
      fields:
        - name: host
          value: transmission
        - name: port
          value: 9091
      implementation: Transmission
      configContract: TransmissionSettings
    - name: qBittorrent
      enable: true
      protocol: torrent
      priority: 2
      removeCompletedDownloads: true
      removeFailedDownloads: true
      fields:
      - name: host
        value: qbittorrent
      - name: port
        value: 8080
      - name: username
        value: username
      - name: password
        value: password
      - name: movieCategory
        value: movies
      - name: recentMoviePriority
        value: 0
      - name: olderMoviePriority
        value: 0
      - name: initialState
        value: 0
      - name: sequentialOrder
        value: false
      - name: firstAndLast
        value: false
      implementation: QBittorrent
      configContract: QBittorrentSettings
lidarr:
  server:
    address: lidarr
    port: 8686
  config:
    host:
      analyticsEnabled: false
    ui:
      firstDayOfWeek: 1 # 0 = Sunday, 1 = Monday
      timeFormat: HH:mm # HH:mm = 17:30, h(:mm)a = 5:30PM
      uiLanguage: 2 # 1 = English, 2 = French, 3 = Spanish...
  rootfolder:
    - name: Music
      path: /data/music
      defaultTags: []
      defaultQualityProfileId: 1
      defaultMetadataProfileId: 1
  downloadclient:
    - name: Transmission
      enable: true
      protocol: torrent
      fields:
        - name: host
          value: transmission
        - name: port
          value: 9091
      implementation: Transmission
      configContract: TransmissionSettings
readarr:
  server:
    address: readarr
    port: 8787
  config:
    host:
      analyticsEnabled: false
    ui:
      firstDayOfWeek: 1 # 0 = Sunday, 1 = Monday
      timeFormat: HH:mm # HH:mm = 17:30, h(:mm)a = 5:30PM
      uiLanguage: 2 # 1 = English, 2 = French, 3 = Spanish...
  rootfolder:
    - name: Books
      path: /data/books
      defaultTags: []
      defaultQualityProfileId: 1
      defaultMetadataProfileId: 1
  downloadclient:
    - name: Transmission
      enable: true
      protocol: torrent
      fields:
        - name: host
          value: transmission
        - name: port
          value: 9091
      implementation: Transmission
      configContract: TransmissionSettings
prowlarr:
  server:
    address: prowlarr
    port: 9696
  config:
    host:
      analyticsEnabled: false
    ui:
      theme: dark
  indexer:
    - name: Internet Archive
      enable: true
      definitionName: internetarchive
      implementation: Cardigann
      configContract: CardigannSettings
      fields: # What fields are needed for each indexer is a bit obscure.
        - name: definitionFile
          value: internetarchive
        - name: titleOnly
          value: true
        - name: noMagnet
          value: false
        - name: sort
          value: 2
        - name: type
          value: 1
      tags: []
    - name: 1337x
      enable: true
      appProfileId: 1
      definitionName: 1337x
      implementation: Cardigann
      configContract: CardigannSettings
      fields:
        - name: definitionFile
          value: 1337x
        - name: downloadlink
          value: 0 # iTorrents.org
        - name: downloadlink2
          value: 1 # magnet
        - name: sort
          value: 0 # seeders
        - name: type
          value: 1 # desc
      tags: []
    - name: EZTV
      enable: true
      appProfileId: 1
      definitionName: eztv
      implementation: Cardigann
      configContract: CardigannSettings
      fields:
        - name: definitionFile
          value: eztv
      tags: []
    - name: TorrentGalaxy
      enable: true
      appProfileId: 1
      definitionName: torrentgalaxy
      implementation: Cardigann
      configContract: CardigannSettings
      fields:
        - name: definitionFile
          value: torrentgalaxy
        - name: sort
          value: 2 # seeders
        - name: type
          value: 1 # desc
      tags: []
    - name: Rarbg
      enable: false # currently not returning results, issue is with Rarbg and not prowlarr
      appProfileId: 1
      definitionName: Rarbg
      implementation: Rarbg
      configContract: RarbgSettings
      fields:
        - name: rankedOnly
          value: false
      tags: []
  applications:
    - name: Sonarr
      syncLevel: addOnly
      implementation: Sonarr
      configContract: SonarrSettings
      fields:
        - name: prowlarrUrl
          value: http://prowlarr:9696
        - name: baseUrl
          value: http://sonarr:8989
        - name: apiKey
          value: 0b03bd0d793946f28ae66c42ac1f6919
    - name: Radarr
      syncLevel: addOnly
      implementation: Radarr
      configContract: RadarrSettings
      fields:
        - name: prowlarrUrl
          value: http://prowlarr:9696
        - name: baseUrl
          value: http://radarr:7878
        - name: apiKey
          value: f005d986e1de49ddba1a3ef4b5dc5dee
    - name: Lidarr
      syncLevel: addOnly
      implementation: Lidarr
      configContract: LidarrSettings
      fields:
        - name: prowlarrUrl
          value: http://prowlarr:9696
        - name: baseUrl
          value: http://lidarr:8686
        - name: apiKey
          value: 1411ece6492643f8960bbd7ce6337405
    - name: Readarr
      syncLevel: addOnly
      implementation: Readarr
      configContract: ReadarrSettings
      fields:
        - name: prowlarrUrl
          value: http://prowlarr:9696
        - name: baseUrl
          value: http://readarr:8787
        - name: apiKey
          value: 8f44b6f6539b4acc9047554664a6d4c2
