sonarr:
  config:
    host:
      analyticsEnabled: false
    ui:
      firstDayOfWeek: 1 # 0 = Sunday, 1 = Monday
      timeFormat: HH:mm # HH:mm = 17:30, h(:mm)a = 5:30PM
  rootfolder:
    - name: Series
      path: /data/series
      defaultTags: []
      defaultQualityProfileId: 1
      defaultMetadataProfileId: 1
  downloadclient:
    - name: Transmission
      enable: true
      protocol: torrent
      fields:
        - name: host
          value: transmission
        - name: port
          value: 9091
      implementation: Transmission
      configContract: TransmissionSettings
radarr:
  config:
    host:
      analyticsEnabled: false
    ui:
      firstDayOfWeek: 1 # 0 = Sunday, 1 = Monday
      timeFormat: HH:mm # HH:mm = 17:30, h(:mm)a = 5:30PM
      uiLanguage: 2 # 1 = English, 2 = French, 3 = Spanish...
  rootfolder:
    - name: Movies
      path: /data/movies
      defaultTags: []
      defaultQualityProfileId: 1
      defaultMetadataProfileId: 1
  downloadclient:
    - name: Transmission
      enable: true
      protocol: torrent
      fields:
        - name: host
          value: transmission
        - name: port
          value: 9091
      implementation: Transmission
      configContract: TransmissionSettings
lidarr:
  config:
    host:
      analyticsEnabled: false
    ui:
      firstDayOfWeek: 1 # 0 = Sunday, 1 = Monday
      timeFormat: HH:mm # HH:mm = 17:30, h(:mm)a = 5:30PM
      uiLanguage: 2 # 1 = English, 2 = French, 3 = Spanish...
  rootfolder:
    - name: Music
      path: /data/music
      defaultTags: []
      defaultQualityProfileId: 1
      defaultMetadataProfileId: 1
  downloadclient:
    - name: Transmission
      enable: true
      protocol: torrent
      fields:
        - name: host
          value: transmission
        - name: port
          value: 9091
      implementation: Transmission
      configContract: TransmissionSettings
readarr:
  config:
    host:
      analyticsEnabled: false
    ui:
      firstDayOfWeek: 1 # 0 = Sunday, 1 = Monday
      timeFormat: HH:mm # HH:mm = 17:30, h(:mm)a = 5:30PM
      uiLanguage: 2 # 1 = English, 2 = French, 3 = Spanish...
  rootfolder:
    - name: Books
      path: /data/books
      defaultTags: []
      defaultQualityProfileId: 1
      defaultMetadataProfileId: 1
  downloadclient:
    - name: Transmission
      enable: true
      protocol: torrent
      fields:
        - name: host
          value: transmission
        - name: port
          value: 9091
      implementation: Transmission
      configContract: TransmissionSettings
prowlarr:
  config:
    host:
      analyticsEnabled: false
    ui:
      theme: dark
  indexer:
    - name: Internet Archive
      enable: true
      definitionName: internetarchive
      implementation: Cardigann
      configContract: CardigannSettings
      fields: # What fields are needed for each indexer is a bit obscure.
        - name: definitionFile
          value: internetarchive
        - name: titleOnly
          value: true
        - name: noMagnet
          value: false
        - name: sort
          value: 2
        - name: type
          value: 1
      tags: []
  applications:
    - name: Sonarr
      syncLevel: addOnly
      implementation: Sonarr
      configContract: SonarrSettings
      fields:
        - name: prowlarrUrl
          value: http://prowlarr:9696
        - name: baseUrl
          value: http://sonarr:8989
        - name: apiKey
          value: 0b03bd0d793946f28ae66c42ac1f6919
    - name: Radarr
      syncLevel: addOnly
      implementation: Radarr
      configContract: RadarrSettings
      fields:
        - name: prowlarrUrl
          value: http://prowlarr:9696
        - name: baseUrl
          value: http://radarr:7878
        - name: apiKey
          value: f005d986e1de49ddba1a3ef4b5dc5dee
    - name: Lidarr
      syncLevel: addOnly
      implementation: Lidarr
      configContract: LidarrSettings
      fields:
        - name: prowlarrUrl
          value: http://prowlarr:9696
        - name: baseUrl
          value: http://lidarr:8686
        - name: apiKey
          value: 1411ece6492643f8960bbd7ce6337405
    - name: Readarr
      syncLevel: addOnly
      implementation: Readarr
      configContract: ReadarrSettings
      fields:
        - name: prowlarrUrl
          value: http://prowlarr:9696
        - name: baseUrl
          value: http://readarr:8787
        - name: apiKey
          value: 8f44b6f6539b4acc9047554664a6d4c2
